# =========================

# Environment Variables

# =========================

.env
.env.*
frontend/.env

# =========================

# Python

# =========================

venv/
**pycache**/
*.pyc
.pyre/
.pyre_configuration

# =========================

# Node / Frontend

# =========================

node_modules/
frontend/dist/

# =========================

# Logs

# =========================

*.log

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db

# =========================

# Editor / IDE

# =========================

.vscode/
.idea/
